.card {
  border-radius: $border-radius;
  border: none;
  &-body {
    padding: 1rem;
    @include media-breakpoint-up(md) {
      padding: 1.25rem;
    }
    @include media-breakpoint-up(lg) {
      padding: 1.5rem;
    }
  }
  &-img {
    object-fit: cover;
    border-radius: $border-radius;
    height: 300px;
    &-top {
      object-fit: cover;
      height: 270px;
    }
    &-lg {
      object-fit: cover;
      border-radius: $border-radius-sm;
      width: 100%;
      height: 526px;
    }
  }
  &-title {
    text-align: center;
    color: $dark;
    font-weight: bold;
    font-size: $font-size-sm;
    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
    @include media-breakpoint-up(lg) {
      font-size: $font-size-xxl;
    }
  }
  &-img-title {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    writing-mode: vertical-rl;
    margin: 0;
    padding: 28px 14px;
    background: rgba($white, 0.8);
    border-radius: 15px 0px 0px 15px;
  }
  &-text {
    color: $dark;
    font-size: $font-size-xxs;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-sm;
    }
  }
}
