.section {
  padding: 92px 0;
  &-title {
    font-size: $font-size-xxl;
    font-weight: bold;
    text-align: center;
    margin-bottom: $spacer * 2.25;
  }
  &-title-lg {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 92px;
  }
}
